{% extends 'base.html' %}

{% block content %}
<div id="hero">
    <div id="hero-content" class="row">
        <div class="col-sm-11 col-md-10 mx-auto mt-t px-3 text-center">
            <h1 class="fw-light">Track and Manage Your Fridge</h1>
            <p class="fw-light">Effortlessly manage your fridge items, keep track of
                what's in stock, and never miss a best-before date again.
            </p>
            <div>
                <a href="{% if request.user.is_authenticated %}{% url 'dashboard' %}{% else %}{% url 'login' %}{% endif %}" class="btn btn-red">Get started now!</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}