{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row">
    <div class="col-11 col-md-4 mx-auto mt-5">
        <h1 class="fw-light">Log In</h1>
        <form method="post">
            {% csrf_token %}
            {{ form | crispy }}
            <div class="d-grid">
                <button class="btn btn-primary">Log in</button>
            </div>
        </form>
        <div>
            <small class="text-muted">Don't have an account? <a href="{% url 'register' %}">Register</a></small>
        </div>
    </div>
</div>
{% endblock content %}