html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
}

#fridge-table-wrapper {
    overflow-y: scroll;
}

.buttons {
    padding-top: 10px;
}

.buttons button,
.buttons a {
    margin: 0px 3px;
}

.buttons button.active {
    color: white;
    border: none;
    box-shadow: inset 6px 6px 6px rgba(0, 0, 0, 0.3)
}

.btn-icon {
    margin-left: 3px;
}

.grey-icon {
    color: #767676;
}

#fridge-table {
    border-collapse: separate;
    border-spacing: 0;
}

.table-head {
    border-bottom: solid #767676;
    position: sticky;
    top: 0px;
    left: 0px;
}

.expiry-date-tag-cell {
    text-align: right;
}

.expiry-date-tag {
    font-size: smaller;
    width: 38px;
    border-radius: 15px;
    display: inline-block;
    justify-content: center;
    text-align: center;
}

#bbd {
    color: white;
    background-color: #f7cd4c;
}

#ubd {
    color: white;
    background-color: #f85858;
}

.edit-item-cell .btn {
    color: rgba(var(--bs-link-color-rgb),var(--bs-link-opacity,1));
    padding: 0px;
}

.delete-item-cell .btn {
    color: orangered;
    padding: 0px;
}

#no-item-message {
    position: relative;
    height: 200px;
    background-color: lightgrey;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;;
}

#no-item-message h5 {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}

.line-break-cell {
    height: 0px !important;
    width: 100% !important;
    padding: 0px !important;
    margin: 0px !important;
    border: 0px !important;
    display: none;
}

@media screen and (max-width: 575px) {
    #fridge-table > thead {
        display: none;
    }

    #fridge-table > tbody > tr {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    #fridge-table > tbody td:nth-child(2),
    #fridge-table > tbody td:nth-child(3) {
        border-bottom-width: 0px;
    }

    #fridge-table > tbody td:nth-child(3),
    #fridge-table > tbody td:nth-child(7) {
        text-align: right;
    }

    #fridge-table .name-cell,
    #fridge-table .category-cell {
        flex: 1;
    }

    #fridge-table .location-icon-cell {
        padding-left: 0px;
    }

    #fridge-table .expiry-date-tag-cell {
        padding-right: 0px;
    }

    #fridge-table .location-icon-cell,
    #fridge-table .category-cell ~ td {
        order: 1;
    }

    #fridge-table .edit-item-cell,
    #fridge-table .delete-item-cell {
        display: none;
        width: 50%;
    }

    #fridge-table .edit-item-cell {
        background: lightgoldenrodyellow;
    }

    #fridge-table .delete-item-cell {
        background: orangered;
    }

    #fridge-table .edit-item-cell > .btn,
    #fridge-table .delete-item-cell > .btn {
        height: 100%;
        width: 100%;
    }

    #fridge-table .delete-item-cell > .btn {
        color: #fff;
    }

    #fridge-table tr.active .edit-item-cell,
    #fridge-table tr.active .delete-item-cell {
        display: block;
    }

    .line-break-cell {
        display: block;
    }
}