{% extends 'base.html' %}

{% block content %}
<div class="row">
    {% for message in messages %}
    <h4>{{ message }}</h4>
    {% endfor %}
    <div class="col-md-10 col-10 mx-auto mt-5">
        <div class="d-flex justify-content-end">
            <a href="{% url 'add-item' %}" class="btn btn-primary">Add Item</a>
        </div>
        <table id="fridge-table" class="table table-hover table-striped">
            <h3 class="fw-light">Fridge Inventory</h3>
            <thead>
                <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Qty</th>
                    <th scope="col">Expiry date</th>
                    <th scope="col">Category</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% if items %}
                    {% for item in items %}
                        {% if item.location == 0 %}
                        <tr>
                            <th scope="row">{{ item.name }}</th>
                            <td>{{ item.quantity }} {{ item.unit | default_if_none:'' }}</td>
                            <td>{{ item.expiry_date }}</td>
                            <td>{{ item.category }}</td>
                            <td>Edit</td>
                            <td>Consumed</td>
                            <td>Wasted</td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                {% else %}
                <tr>
                    <th scope="row">-</th>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>Edit</td>
                    <td>Consumed</td>
                    <td>Wasted</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
        <table id="freezer-table" class="table table-hover table-striped">
            <h3 class="fw-light">Freezer Inventory</h3>
            <thead>
                <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Qty</th>
                    <th scope="col">Expiry date</th>
                    <th scope="col">Category</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% if items %}
                    {% for item in items %}
                        {% if item.location == 1 %}
                        <tr>
                            <th scope="row">{{ item.name }}</th>
                            <td>{{ item.quantity }} {{ item.unit | default_if_none:'' }}</td>
                            <td>{{ item.expiry_date }}</td>
                            <td>{{ item.category }}</td>
                            <td>Edit</td>
                            <td>Consumed</td>
                            <td>Wasted</td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                {% else %}
                <tr>
                    <th scope="row">-</th>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>Edit</td>
                    <td>Consumed</td>
                    <td>Wasted</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}