{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}

{% block content %}
{% include 'dashboard/dashboard_messages.html' %}
<!-- Buttons -->
<div class="d-flex flex-wrap justify-content-center justify-content-md-between mx-2 mx-md-4 mb-2 mb-md-0">
    <div id="location-buttons" class="buttons d-inline-flex">
        <button data-parameter-key="{{ items_filter.form.location.name }}" data-parameter-value=""
            class="parameter-btn btn btn-primary {% if location == '' %}active{% endif %} px-2">All Items <i class="btn-icon fa-solid fa-basket-shopping"></i>
        </button>
        <button data-parameter-key="{{ items_filter.form.location.name }}" data-parameter-value="0"
            class="parameter-btn btn btn-primary {% if location == '0' %}active{% endif %} px-2">My Fridge <i class="btn-icon fa-solid fa-droplet"></i>
        </button>
        <button data-parameter-key="{{ items_filter.form.location.name }}" data-parameter-value="1"
            class="parameter-btn btn btn-primary {% if location == '1' %}active{% endif %} px-2">My Freezer <i class="btn-icon fa-regular fa-snowflake"></i>
        </button>
    </div>
    <div class="buttons d-inline-flex">
        <button id="filter-button" class="btn btn-primary {% if items_filter_applied %}applied{% endif %}" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasFilter" aria-controls="offcanvasRight">Filter
            <i class="btn-icon fa-solid fa-filter"></i>
            <p id="filter-button-applied-text">(Applied)</p>
        </button>
        <a href="{% url 'add-item' %}" class="btn btn-primary">Add Item <i class="fa-solid fa-plus"></i></a>
    </div>

    <!-- Offcanvas Filter Form -->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasFilter" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasRightLabel">Filter</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <form method="get">
                {{ items_filter.form | crispy }}
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary">Apply</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Inventory Table -->
<div id="fridge-table-wrapper" class="mx-2 mx-md-4">
    <table id="fridge-table" class="table table-hover table-striped">
        {% if items %}
        <thead class="table-head">
            <tr>
                <th scope="col"></th>
                <th scope="col">Item</th>
                <th scope="col">Qty</th>
                <th scope="col"></th>
                <th scope="col">
                    Expiry date
                    <i class="fa-regular fa-circle-question" data-bs-container="body" data-bs-toggle="popover"
                        data-bs-placement="top" data-bs-html="true" data-bs-trigger="hover focus"
                        data-bs-content="Best-before dates(BBD): The period during which the food is expected to remain at its best quality. <br/>Use-by dates(UBD): The last date the food is safe to consume."
                        data-bs-original-title="A little tip..." aria-describedby="popover470314">
                    </i>
                </th>
                <th scope="col">Category</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody class="table-body">
            {% for item in items %}
            <tr>
                <td class="location-icon-cell">
                    {% if item.location == 0 %}
                    <i class="grey-icon btn-icon fa-solid fa-droplet"></i>
                    {% else %}
                    <i class="grey-icon btn-icon fa-regular fa-snowflake"></i>
                    {% endif %}
                </td>
                <td class="name-cell">{{ item.name }}</td>
                <td>{{ item.quantity }} {{ item.unit | default_if_none:'' }}</td>
                <td class="line-break-cell"></td>
                <td class="expiry-date-tag-cell">
                    {% if item.expiry_date_type == 0 %}
                    <div id="bbd" class="expiry-date-tag d-inline-flex"><small>BBD</small></div>
                    {% endif %}
                    {% if item.expiry_date_type == 1 %}
                    <div id="ubd" class="expiry-date-tag d-inline-flex"><small>UBD</small></div>
                    {% endif %}
                </td>
                <td>
                    {{ item.expiry_date }}
                </td>
                <td class="category-cell">{{ item.category | default_if_none:'-' }}</td>
                <td class="line-break-cell button-line-break"></td>
                <td class="edit-item-cell">
                    <a class="btn" href="{% url 'edit-item' item.pk %}"><i class="fa-solid fa-pen"></i></a>
                </td>
                <td class="delete-item-cell">
                    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#deleteItemModal"
                        data-bs-delete-url="{% url 'delete-item' item.pk %}" data-bs-item-name="{{ item.name }}">
                        <i class="fa-regular fa-trash-can"></i>
                    </button>
                </td>
            </tr>
            {% endfor %}
            {% else %}
            <div id="no-item-message">
                <h5 class="fw-light">You have no items</h5>
            </div>
            {% endif %}
        </tbody>
    </table>
    <!-- Delete Item Modal -->
    <div id="deleteItemModal" class="modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Are you sure you want to delete this item?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>This will remove the item from your inventory permanently.</p>
                </div>
                <div class="modal-footer">
                    <form id="model-delete-btn" action="#" method="post">
                        <button type="submit" class="btn btn-primary">Delete</button>
                        {% csrf_token %}
                    </form>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascript %}
<script src="{% static 'js/dashboard.js' %}"></script>
{% endblock javascript %}