{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row">
    <div class="col-11 col-md-4 mx-auto mt-5">
        <form method="post">
            {% csrf_token %}
            {{ form | crispy }}
            <button class="btn btn-primary">
                {% if request.view == "add-item" %}
                Add
                {% else %}
                Edit
                {% endif %}
                Item
            </button>
        </form>
    </div>
</div>
{% endblock content %}