{% extends 'base.html' %}

{% load static %}

{% block content %}
<div id="about-container" class="container-fluid">
    <div class="row">
        <div class="about-card col-12 col-lg-4">
            <div class="about-image-container">
                <img src="../static/images/about-01.webp" alt="Girl staring at a fridge">
                <p class="about-content fw-light">Ever found yourself staring at a fridge full of forgotten items, only
                    to realise they're past their expiry dates? I've been there too. Like the times I've bought
                    groceries, tucked them away, and completely overlooked them until it was too late. Or those
                    supermarket trips where I wasn't sure if I had certain ingredients at home, leading to duplicate
                    purchases. Calling my boyfriend to check the fridge became a routine, but it's not always feasible.
                    These everyday challenges inspired the creation of this fridge inventory app—a simple solution to
                    keep track of what's in your fridge, reduce waste, and make grocery shopping smarter and more
                    efficient.</p>
            </div>
            <h5 class="fw-light">Motivation behind Fridge Pal</h5>
            <button class="btn btn-primary" type="button">
                Click for more
            </button>
        </div>
        <div class="about-card col-12 col-lg-4">
            <div class="about-image-container">
                <img src="../static/images/about-02.webp" alt="A table full of food">
                <p class="about-content fw-light">Fridge Pal tracks everything in your fridge, from the quantity of
                    items to their expiry dates, so you always know what's on hand. With Fridge Pal, you can easily
                    search and sort your inventory by name, location, category, or expiry date, making it simple to
                    organise and manage your food. The app also lets you quickly check what’s in stock and what’s
                    running low, helping you plan meals and grocery trips with ease. Say goodbye to forgotten items and
                    duplicate purchases—Fridge Pal ensures nothing goes to waste.</p>
            </div>
            <h5 class="fw-light">How can Fridge Pal help</h5>
            <button class="btn btn-primary" type="button">
                Click for more
            </button>
        </div>
        <div class="about-card col-12 col-lg-4">
            <div class="about-image-container">
                <img src="../static/images/about-03.webp" alt="Food with a use-by date">
                <p class="about-content fw-light">Understanding the difference between best-before dates (BBD) and
                    use-by
                    dates (UBD) helps you consume food safely and reduce waste.
                    ‘Best before’ is about quality rather than safety: after the best before date the food may lose some
                    of its flavour and the texture may not be so good.
                    The ‘use by’ date is a really important one to take note of: after this date, the food may not be
                    safe to eat. Foods that can cause harm when they go ‘off’ will be labelled with a use-by date.
                </p>
            </div>
            <h5 class="fw-light">A Little Tip: BBD vs UBD</h5>
            <button class="btn btn-primary" type="button">
                Click for more
            </button>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascript %}
<script src="{% static 'js/about.js' %}"></script>
{% endblock javascript %}