{% extends 'base.html' %}

{% load static %}

{% block content %}
<div id="about-container" class="container-fluid">
    <div class="row">
        <div class="about-card col-12 col-lg-4">
            <img src="../static/images/placeholder.svg" alt="">
            <h4>Welcome to Fridge Pal!</h4>
            <p>Our app helps you keep track of everything in your fridge, from the quantity of items to their expiry
                dates. You can easily organize your food by category, location, and more, ensuring nothing goes to
                waste. Whether you’re checking what’s running low or what needs to be used up, Fridge Pal makes managing
                your fridge a breeze!</p>
        </div>
        <div class="about-card col-12 col-lg-4">
            <img src="../static/images/placeholder.svg" alt="">
            <h4>Welcome to Fridge Pal!</h4>
            <p>Our app helps you keep track of everything in your fridge, from the quantity of items to their expiry
                dates. You can easily organize your food by category, location, and more, ensuring nothing goes to
                waste. Whether you’re checking what’s running low or what needs to be used up, Fridge Pal makes managing
                your fridge a breeze!</p>
        </div>
        <div class="about-card col-12 col-lg-4">
            <img src="../static/images/placeholder.svg" alt="">
            <h4>Welcome to Fridge Pal!</h4>
            <p>Our app helps you keep track of everything in your fridge, from the quantity of items to their expiry
                dates. You can easily organize your food by category, location, and more, ensuring nothing goes to
                waste. Whether you’re checking what’s running low or what needs to be used up, Fridge Pal makes managing
                your fridge a breeze!</p>
        </div>
    </div>
</div>
{% endblock content %}